* {
    font-family: "Roboto", sans-serif;
    padding: 5px;
    margin: 5px;

    background-color: #0F0F1A;
    color: #F4F4F8;

    font-optical-sizing: auto;
    font-weight: 100;
    line-height: 1.5;
    font-style: normal;
}

#logo {
  width: 18%;
  display: block;
}

nav a {
    text-decoration: none;
    color: #3ED6C7;
    font-weight: 600;
    padding: 8px 12px;
    border: 1px solid transparent;
    border-radius: 6px;
}

nav a:hover {
    border: 1px solid #3ED6C7;
}

.active {
    color: #92ad70;
    border-bottom: 2px solid #92ad70;
}

.cta {
    background-color: #92ad70;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    padding: 10px 16px;
    font-weight: 600;
}

footer {
    border-top: 1px solid #92ad70;
    padding: 15px;
    text-align: center;
    color: #92ad70;
}

th {
    padding: 12px 0;
    background-color: #5A4FCF;
    color: #F4F4F8;
    width: fit-content;
}

tr:nth-child(even) {
    background-color: #1a1a2b;
}

form * {
    margin: auto;
    text-align: center;
}

.container {
  display: grid;
  grid-template-areas:
    'header header'
    'nav_bar nav_bar'
    'main main_img'
    'footer footer';
}

/* Grid area assignments */
.header {
    grid-area: header; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_bar {
   grid-area: nav_bar;
   display: flex;
   align-items: center;
   gap: 15px;
   padding-right: 20px;
}

.main {
   grid-area: main; 
}

.main_img {
   grid-area: main_img; 
}

.footer {
   grid-area: footer;
}

#longIntro,
#readLess {
    display: none;
}

#purchaseForm {
    display: none;
}

button {
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    background-color: #92ad70;
    color: white;
    cursor: pointer;
}

select {
    padding: 8px;
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    .container {
        grid-template-areas:
            "header"
            "nav_bar"
            "main"
            "main_img"
            "footer";
        grid-template-columns: 1fr;
    }

    .nav_bar {
        flex-direction: column;
        align-items: center;
    }

    .main_img img {
        width: 100%;
        height: auto;
    }

    table {
        width: 100%;
        font-size: 14px;
    }
    #map {
        height: 300px;
    }
}

.nav_bar .icon {
    display: none;
}

@media only screen and (max-width: 650px) {
    .nav_bar a:not(:first-child) {
        display: none;
    }

    .nav_bar a.icon {
        display: block;
    }

    .nav_bar.responsive {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav_bar.responsive a {
        display: block;
        width: 100%;
    }

    .nav_bar.responsive a.icon {
        align-self: flex-end;
    }
}

iframe {
    width: 100%;
    height: 400px;
    border-radius: 8px;
}

#map {
    width: 100%;
    height: 400px;
    border-radius: 8px;
}